[Desktop Entry]
Type=Application
Version=1.0
Name=DebCtrl Terminal
Comment=Terminal emulator with Ctrl+C copy when text is selected
Exec=python3 /home/temal/Dokumente/coding/terminal-deb/debctrlterm.py
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
